<div class="mplayer_infoTitle">
    <svg width="50" height="50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_7_25)">
            <path d="M21.29 4.12L16.7 8.71L18.29 10.3C18.92 10.93 18.47 12.01 17.58 12.01H13C12.45 12.01 12 11.56 12 11.01V6.41C12 5.52 13.08 5.07 13.71 5.7L15.3 7.29L19.89 2.7C20.28 2.31 20.91 2.31 21.3 2.7C21.68 3.1 21.68 3.73 21.29 4.12ZM4.12 21.29L8.71 16.7L10.3 18.29C10.93 18.92 12.01 18.47 12.01 17.58V13C12.01 12.45 11.56 12 11.01 12H6.41C5.52 12 5.07 13.08 5.7 13.71L7.29 15.3L2.7 19.89C2.31 20.28 2.31 20.91 2.7 21.3C3.1 21.68 3.73 21.68 4.12 21.29Z" fill="white"/>
        </g>
        <defs>
            <clipPath id="clip0_7_25">
                <rect width="24" height="24" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</div>