<div class="mplayer_timelineContainer">
    <div class="mplayer_timeline">
        <img class="mplayer_previewImage" />
        <div class="mplayer_thumbIndicator"></div>
        <div class="mplayer_previewTimeline"></div>
    </div>
</div>